---
- name: disable apt suggests and recommends
  copy:
    src: 02no-recommends
    dest: /etc/apt/apt.conf.d/
    mode: 0644

- name: install basic packages
  apt:
    name:
      - less
      - psmisc
      - sudo
      - dstat
      - mtr-tiny
      - tcpdump
      - debian-goodies
      - lsof
      - haveged
      - net-tools
      - screen
      - aptitude
      - unp
      - ca-certificates
      - file
      - nano
      - python-apt-common
      - command-not-found
      - man-db
      - lshw
    state: present

- name: make sure grml-(etc|scripts)-core is not installed
  apt:
    name:
      - grml-etc-core
      - grml-scripts-core
    state: absent
    purge: yes
