---
- name: install base tools
  apt:
    name:
      - htop
      - zsh
      - rsync

- name: set root default shell to zsh
  user:
    name: root
    shell: /bin/zsh

- name: set default shell for adduser
  with_dict:
    DSHELL: /bin/zsh
  lineinfile:
    dest: /etc/adduser.conf
    regexp: "^#?{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
  loop_control:
    label: "{{ item.key }}"

- name: Deploy default configuration for tools
  with_dict:
    /etc/htoprc: "{{ global_files_dir }}/common/htoprc"

    /etc/zsh/zprofile: zprofile
    /etc/zsh/zshrc: zshrc
    /etc/skel/.zshrc: zshrc.skel

  loop_control:
    label: "{{ item.key }}"
  copy:
    mode: 0644
    src: "{{ item.value }}"
    dest: "{{ item.key }}"
