server {
    listen [::]:443 ssl;
    listen 443 ssl;

    server_name {{ sensors_urls | join(' ') }};

    include snippets/acmetool.conf;
    include snippets/ssl.conf;
    ssl_certificate /var/lib/acme/live/{{ sensors_urls[0] }}/fullchain;
    ssl_certificate_key /var/lib/acme/live/{{ sensors_urls[0] }}/privkey;
    include snippets/hsts.conf;

    include snippets/security-headers.conf;

    access_log off;

    location / {
        return 307 https://status.realraum.at/;
    }
}
