---

- name: install nginx vhost config files
  loop:
    - www.realraum.at
  template:
    src: "{{ item }}.j2"
    dest: /etc/nginx/sites-available/{{ item }}
  notify: reload nginx

- name: check if acme certs already exists
  stat:
    path: /var/lib/acme/live/www.realraum.at
  register: wwwrealraum_acme_cert

- name: link nonexistent hostname to self-signed interim cert
  when: not wwwrealraum_acme_cert.stat.exists
  block:
    - name: get id of existing selfsigned interim certificate
      command: cat /var/lib/acme/.selfsigned-interim-cert
      changed_when: false
      check_mode: false
      register: selfsigned_interim_cert_id

    - name: set selfsigned_interim_cert_id variable
      set_fact:
        selfsigned_interim_cert_id: "{{ selfsigned_interim_cert_id.stdout }}"

    - name: link to snakeoil cert for nonexistent hostnames
      file:
        src: "../certs/{{ selfsigned_interim_cert_id }}"
        dest: /var/lib/acme/live/www.realraum.at
        state: link

- name: enable nginx vhost config
  loop:
    - www.realraum.at
  file:
    src: ../sites-available/{{ item }}
    dest: /etc/nginx/sites-enabled/{{ item }}
    state: link
  notify: reload nginx

- name: make sure nginx config has been loaded
  meta: flush_handlers

# - name: get certificate using acmetool
#   import_role:
#     name: acmetool/cert
#   vars:
#     acmetool_cert_name: {{ item }}
#   loop:
#     - www.realraum.at
