---

- name: create webroot path
  file:
    name: "{{ r3rsrv.rootdir }}"
    state: directory
    owner: www-data

- name: Copy files to remote locations
  ansible.builtin.copy:
    dest: "{{ r3rsrv.rootdir }}/404.html"
    group: www-data
    owner: www-data
    src: files/404.html

- name: install nginx vhost config files
  template:
    src: "{{ r3rsrv.name }}.j2"
    dest: /etc/nginx/sites-available/{{ r3rsrv.name }}
  notify: reload nginx

- name: clear variable
  set_fact:
    nginx_acme_cert: {}

- name: check if acme certs already exists
  stat:
    path: /var/lib/acme/live/{{ r3rsrv.name }}
  register: nginx_acme_cert

- name: link nonexistent hostname to self-signed interim cert
  when: not nginx_acme_cert.stat.exists
  block:
    - name: get id of existing selfsigned interim certificate
      command: cat /var/lib/acme/.selfsigned-interim-cert
      changed_when: false
      check_mode: false
      register: selfsigned_interim_cert_id

    - name: set selfsigned_interim_cert_id variable
      set_fact:
        selfsigned_interim_cert_id: "{{ selfsigned_interim_cert_id.stdout }}"

    - name: link to snakeoil cert for nonexistent hostnames
      file:
        src: "../certs/{{ selfsigned_interim_cert_id }}"
        dest: "/var/lib/acme/live/{{ r3rsrv.name }}"
        state: link

- name: enable nginx vhost config
  file:
    src: ../sites-available/{{ r3rsrv.name }}
    dest: /etc/nginx/sites-enabled/{{ r3rsrv.name }}
    state: link
  notify: reload nginx

- name: make sure nginx config has been loaded
  meta: flush_handlers

- name: get certificate using acmetool
  import_role:
    name: acmetool/cert
  vars:
    acmetool_cert_name: "{{ r3rsrv.name }}"

