# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ srv_network.primary.interface }}
iface {{ srv_network.primary.interface }} inet static
  address {{ srv_network.primary.ip }}
  netmask {{ srv_network.primary.mask }}
  gateway {{ srv_network.primary.gateway }}
  pre-up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/accept_ra
  pre-up echo 0 > /proc/sys/net/ipv6/conf/$IFACE/autoconf
