---
- name: create spaceapi service user
  user:
    name: spaceapi
    home: /srv/r3status/spaceapi
    system: yes
    shell: /bin/sh

- name: install spaceapi update script
  template:
    src: ssh-spaceapi-update.py.j2
    dest: /usr/local/bin/ssh-spaceapi-update.py
    mode: 0755

- name: install grical caching script
  template:
    src: cache_realraum_imported_calendar.sh.j2
    dest: /usr/local/bin/cache_realraum_imported_calendar.sh
    mode: 0755

- name: copy grical caching services
  loop:
    - cache_realraum_imported_calendar.timer
    - cache_realraum_imported_calendar.service
  template:
    src: "{{ item }}.j2"
    dest: /etc/systemd/system/{{ item }}
    mode: 0644

- name: start copy grical caching timer
  loop:
    - cache_realraum_imported_calendar.timer
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
    daemon_reload: yes

- name: create spaceapi user ssh config directory
  file:
    path: /srv/r3status/spaceapi/.ssh
    state: directory
    mode: 0750
    owner: root
    group: spaceapi

- name: install ssh key for spaceapi update
  copy:
    dest: /srv/r3status/spaceapi/.ssh/authorized_keys
    mode: 0640
    owner: root
    group: spaceapi
    content: |
      no-agent-forwarding,no-port-forwarding,no-pty,no-X11-forwarding,no-user-rc,command="/usr/local/bin/ssh-spaceapi-update.py" {{ r3status_spaceapi_update_user_ssh_key }}

### TODO: grical downloader script

- name: create status web-root directory
  file:
    path: /srv/r3status/www
    state: directory

- name: download status web content
  get_url:
    url: "{{ r3status_www_content.url }}"
    dest: /srv/r3status/www.tar.gz
    checksum: "sha256:{{ r3status_www_content.sha256 }}"
  register: dokuwiki_plugins_downloaded

## TODO: fix update!!!
- name: extract status web content
  unarchive:
    remote_src: yes
    src: /srv/r3status/www.tar.gz
    dest: /srv/r3status/www/
    extra_opts:
      - '--strip-components=2'
      - '--wildcards'
      - '*/htdocs'

- import_tasks: nginx.yml
