[Unit]
Description=Switch Lights depending on members present or not
Wants=network.target

[Service]
Nice=2
Type=simple
Restart=always
WorkingDirectory={{ realraum_home }}
ExecStart={{ iotscripts_python_venv }}/bin/python {{ realraum_bin }}/dostuff_switch_lights.py
SyslogIdentifier=%i

[Install]
WantedBy=default.target
