R3_TOTAL_MEMBERCOUNT={{ realraum_member_count }}
R3_MQTT_BROKER={{ mqtt_broker_uri }}
TUER_STATUSPUSH_SSH_ID_FILE=/home/realraum/.ssh/{{ vault_iotscripts_realraum_spaceapi_ssh_key_name }}
TUER_STATUSPUSH_SSH_USER={{ spaceapi_publish_username }}
TUER_STATUSPUSH_SSH_HOST_PORT={{ spaceapi_publish_host_port }}
