#########################################################################
#  realraum preseed file for Ubuntu xenial based VMs
#########################################################################

d-i debian-installer/language string en
d-i debian-installer/country string AT
d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/preferred-locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect de_DE.UTF-8, de_AT.UTF-8
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us
d-i keyboard-configuration/layoutcode string us

d-i hw-detect/load_firmware boolean false

d-i netcfg/disable_dhcp boolean true
d-i netcfg/choose_interface select {{ install_interface | default(hostvars[hostname].network_cooked.primary.interface) }}
d-i netcfg/disable_autoconfig boolean false
d-i netcfg/get_ipaddress string {{ hostvars[hostname].network_cooked.primary.ip }}
d-i netcfg/get_netmask string {{ hostvars[hostname].network_cooked.primary.mask }}
d-i netcfg/get_gateway string {{ hostvars[hostname].network_cooked.primary.gateway }}
d-i netcfg/get_nameservers string {{ hostvars[hostname].network_cooked.nameservers | join(' ') }}
d-i netcfg/confirm_static boolean true

d-i netcfg/hostname string {{ hostname }}
d-i netcfg/get_hostname string {{ hostname }}
d-i netcfg/domain string {{ hostvars[hostname].network_cooked.domain }}
d-i netcfg/get_domain string {{ hostvars[hostname].network_cooked.domain }}
d-i netcfg/wireless_wep string


d-i mirror/country string manual
d-i mirror/http/hostname string debian.ffgraz.net
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string


d-i passwd/make-user boolean false
d-i passwd/root-login boolean true
d-i passwd/root-password password this-very-very-secure-password-will-be-removed-by-latecommand
d-i passwd/root-password-again password this-very-very-secure-password-will-be-removed-by-latecommand


d-i clock-setup/utc boolean true
d-i time/zone string Europe/Vienna
d-i clock-setup/ntp boolean false


d-i partman-auto/disk string /dev/{{ hostvars[hostname].install_cooked.disks.primary }}
d-i partman-auto/method string lvm
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-auto-lvm/new_vg_name string {{ hostname }}
d-i partman-auto-lvm/guided_size string max

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true

d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/expert_recipe string                                   \
      boot-root ::                                                      \
              1000 10000 -1 ext4                                        \
                      $defaultignore{ } $primary{ } $bootable{ }        \
                      method{ lvm } vg_name{ {{ hostname }} }           \
              .                                                         \
              2048 10000 2560 ext4                                      \
                      $lvmok{ } in_vg{ {{ hostname }} }                 \
                      method{ format } format{ }                        \
                      use_filesystem{ } filesystem{ ext4 }              \
                      mountpoint{ / }                                   \
              .                                                         \
              1024 11000 1280 ext4                                      \
                      $lvmok{ } in_vg{ {{ hostname }} }                 \
                      method{ format } format{ }                        \
                      use_filesystem{ } filesystem{ ext4 }              \
                      mountpoint{ /var }                                \
              .                                                         \
              768 10000 768 ext4                                        \
                      $lvmok{ } in_vg{ {{ hostname }} }                 \
                      method{ format } format{ }                        \
                      use_filesystem{ } filesystem{ ext4 }              \
                      mountpoint{ /var/log }                            \
                      options/nodev{ nodev } options/noatime{ noatime } \
                      options/noexec{ noexec }                          \
              .                                                         \
              16 20000 -1 ext4                                          \
                      $lvmok{ } in_vg{ {{ hostname }} }                 \
                      method( keep } lv_name{ dummy }                   \
              .

d-i partman-auto-lvm/no_boot boolean true
d-i partman-basicfilesystems/no_swap true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


d-i base-installer/install-recommends boolean false
d-i apt-setup/security_host string debian.ffgraz.net

tasksel tasksel/first multiselect
d-i pkgsel/include string openssh-server python
d-i pkgsel/upgrade select safe-upgrade
popularity-contest popularity-contest/participate boolean false
d-i pkgsel/update-policy select none
d-i base-installer/kernel/override-image string linux-generic-hwe-16.04

d-i grub-installer/choose_bootdev string /dev/{{ hostvars[hostname].install_cooked.disks.primary }}
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false

d-i finish-install/reboot_in_progress note


d-i preseed/late_command string \
    lvremove -f {{ hostname }}/dummy; \
    in-target bash -c "apt-get update -q && apt-get full-upgrade -y -q"; \
    in-target bash -c "passwd -d root && passwd -l root"; \
    in-target bash -c "sed -e 's/^allow-hotplug/auto/' -i /etc/network/interfaces"; \
    mkdir -p -m 0700 /target/root/.ssh; \
    cp /authorized_keys /target/root/.ssh/; \
{% if hostvars[hostname].ansible_port is defined %}
    in-target bash -c "sed -e 's/^\(\s*#*\s*Port.*\)/Port {{ hostvars[hostname].ansible_port }}/' -i /etc/ssh/sshd_config"
{% endif %}
