---
- name: install dokuwiki packages
  apt:
    name:
      - dokuwiki
      - php-fpm
    state: present

- name: create dokuwiki service user
  user:
    name: dokuwiki
    home: /srv/dokuwiki
    system: yes
    shell: /bin/false

- name: create dokuwiki data and acl directory
  with_items:
    - data
    - acl
  file:
    path: "/srv/dokuwiki/{{ item }}"
    state: directory
    owner: dokuwiki
    group: dokuwiki
    mode: 0700

- name: symlink acl und userdata configs
  with_items:
    - acl.auth.php
    - users.auth.php
  file:
    state: link
    src: "/srv/dokuwiki/acl/{{ item }}"
    path: "/etc/dokuwiki/{{ item }}"

- name: install dokuwiki config
  template:
    src: dokuwiki.php.j2
    dest: /etc/dokuwiki/dokuwiki.php
  notify: reload php-fpm

- name: install userstyle.css
  template:
    src: userstyle.css.j2
    dest: /etc/dokuwiki/userstyle.css
  notify: reload php-fpm


## TODO: fix hardcoded php version...
- name: install php-fpm config
  template:
    src: php-fpm.conf.j2
    dest: /etc/php/8.2/fpm/pool.d/z_read_last_dokuwiki.conf
  notify: reload php-fpm


## TODO: apply config options, at least to the following:
##       set $conf['savedir'] to '/srv/dokuwiki/data'
##       update acl symlinks in '/etc/dokuwiki' to '/srv/dokuwiki/acl'

## TODO: install dokuwiki data backup
## TODO: install dokuwiki acl backup

- name: install dokuwiki plugins
  import_tasks: plugins.yml

- name: install dokuwiki templates
  import_tasks: templates.yml

- import_tasks: nginx.yml
