max_inflight_messages {{ mosquitto_max_inflight_messages }}
max_queued_messages {{ mosquitto_max_queued_messages }}
message_size_limit {{ mosquitto_message_size_limit }}
queue_qos0_messages {{ mosquitto_queue_qos0_messages | lower }}
